:root {
    --main-bg-color:  #fdfdfd;
    --main-font: "Merriweather", serif;
    --main-font-color: #636262;
    --secondary-font-color: #c7c7c7;
    --accent-color: #2a3640;
    --action-color: #50BFB4;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 

  body {
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    height: 80px;
  }

  h1 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .first-line {
    border: 5px solid var(--main-font-color);
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 2px;
  }

  .second-line {
    border: 2px solid var(--main-font-color);
    box-sizing: border-box;
    width: 90%;
    margin-top: 0px;
  }
  
  fieldset {
    border: 0px;
    width: 95vw;
  }

  legend {
    font-size: 1.3em;
    align-self: flex-start;
    font-weight:700;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label-input-pair {
    display: flex;
    flex-direction: column;
  }