:root {
    --main-bg-color:  #fdf9e9;
    --main-font: "Merriweather", serif;
    --main-font-color: #636262;
    --secondary-font-color: #bbbbbb;
    --label-color: #7b7b7b;
    --input-color: #fff5cf;
    --accent-color: #59342C;
    --secondary-accent: #f9ad6a;
    --action-color: #A65874;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 

  body {
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    width: 100%;
    height: 80px;
  }

  h1 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 88%;
  }

  .welcome p {
    display: block;
    max-width: 85%;
    margin: 20px 0 15px 0;
    font-size: 1.1em;
    line-height: 1.4;
    color: var(--secondary-font-color)
  }

  .first-line {
    border: 3px solid var(--main-font-color);
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
  }

  .second-line {
    border: 2px solid var(--main-font-color);
    box-sizing: border-box;
    width: 100%;
    margin-top: 0px;
  }

  form {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  fieldset {
    padding: 0;
    border: 0px;
    margin: 40px 0 40px 0;
    width: 100%;
  }

  fieldset p {
    line-height: 1.3em;
    margin: 20px 0px;
  }

  legend {
    font-size: 1.3em;
    align-self: flex-start;
    font-weight:700;
    margin-bottom: 25px;
  }

  .label-input-pair {
    display: flex;
    flex-direction: column;
  }

  label {
    display: inline-block;
    margin: 15px 0px;
    color: var(--label-color);
  }

  textarea {
    padding-top: 10px;
  }

  input[type="text"],
  #email,
  #phone,
  #state,
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--input-color);
    padding-inline-start: 1.2em;
    padding-inline-end: 1.2em;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--secondary-font-color);
    font-style: italic;
  }

  #fname::placeholder,
  #email::placeholder {
    text-align: right;
  }

  #state {
    color: var(--secondary-font-color);
  }

  option:not(:disabled) {
    color: var(--main-bg-color);
  }

  #zipcode {
    width: 50%;
  }

  input[type="text"]:focus,
  #email:focus,
  #phone:focus,
  #state:focus,
  textarea:focus {
    outline: none;
    color: white;
    background-color: var(--secondary-accent);
    transition: background-color 0.5s ease-in;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    color:var(--main-bg-color);
  }

  #state:focus {
    color: var(--main-bg-color);
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
  }

  #other {
    height: 20vh;
  }

  button {
    color: var(--main-bg-color);
    background-color: var(--action-color);
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    height: 10vh;
    font-weight: 600;
    font-size: 1.2em;
  }

  footer {
    height: 40vh;
    text-align: center;
    color: var(--label-color);
    font-style: italic;
  }

  @media screen and (min-width: 768px) {
    main section,
    main form {
        max-width: 800px;
        margin: 0 auto;
   }

   .label-input-pair {
    flex-direction: row;
    margin-bottom: 3vh;
   }

   label {
    min-width: 30%;
   }
   
   #zipcode {
    width: 25%;
   }
  }